<%= flash[:success] %>

<% @bookmarks.each do |b| %>
  <p><%= b['url'] %></p>
<% end %>

<form action="add" method="post">
  <label for="url"> URL: </label>
  <input type="text" name="url">
  <input type="submit" value="Submit">
</form>
